/*---------- UNIVERSAL STYLING ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #cccccc;
}


/*---------- HEADER SECTION ----------*/
header {
  background-color: rgb(224, 223, 223);
  height: 80px;
  margin-top: 20px;
}


/*---------- NAV BAR SECTION ----------*/


  .dropdown-toggle{ 
    padding: 0; 
  }

  ul.dropdown {
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-right: 50px;
    
   
}
  ul.dropdown li a { 
    text-decoration: none; 
    display: block;
  }

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding-left: 5px;
}

li a {
  padding: 5px;
  
  text-decoration: none;
}

.cart .fas {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}


.cart a {
  background-color: rgb(14, 90, 14);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/*---------- END OF NAV BAR SECTION ----------*/

/*---------- PRODUCTS SECTION FOR HOME PAGE ----------*/
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {

  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}



.title {
  text-align: center;
  margin: 0 auto 20px;
  position: relative;
  line-height: 60px;
  color: rgb(14, 90, 14);
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*---------- END OF PRODUCTS SECTION FOR HOME PAGE ----------*/

/*---------- CART STYLING SECTION ----------*/

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column,
.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;

}

.cart-quantity {
  width: 35%;
}



.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}



.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 125px;
}


.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

/*---------- BUTTON STYLING SECTION ----------*/

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid #2D9CDB;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, .3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2D9CDB;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: rgb(14, 90, 14);
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2D9CDB;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
  padding-top: 20px;
}

.basketTotalTitle {
  width: 35%;
}

.basketTotal {
  width: 30%;
  padding-left: 10px;
}

